// RESPONSIVE BREAKPOINTS
$sm-min: 576px;
$sm-max: 575px;

$md-min: 768px;
$md-max: 767px;

$lg-min: 992px;
$lg-max: 991px;

$xl-min: 1200px;
$xl-max: 1199px;

// COMMON COLORS
// $primary-color: #006BFF;
$primary-color: #036dff;

// PROJECT BASED COLORS
$light-gray-color: #f4f4f4;
$light-gray-color2: #dee2e6;

// COMMON TEXT COLORS
// $text__dark-color: #000;
// $text__light-color: #333;
$text__dark-color: #272b2f;
$text__dark-color2: #5f6d81;
$text__light-color: #4c545d;
$text__light-color2: #818d9f;
$text__danger-color: #fe4c4c;
$text__success-color: #65b556;

// BACKGROUNDS COLORS
$bg__light-color: #f9fbfc;
$bg__light-color2: #fbfbfb;
$bg__light-gray: #eee;
$bg__footer-main: #f1f1f1;
$bg__danger: #fe4c4c;
$bg__success: #65b556;

$bg__dashboard: #f7f9fa;

// BORDER COLORS
$borderColor__light: #e0e0e0;

$borderBoxColor: #d9dee3;
$borderBoxColorDarker: #d2d5d9;
$borderBoxRadius: 14px;
$borderBoxRadius2: 10px;
$borderBoxBgColor: #f9fbfc;

// RADIUS
$common-border-radius: 5px;

// INPUT
$input__border-radius: 5px;

// BUTTONS
$buttons__border-radius: 5px;

// PROJECT BASED VARIABLES
$appLeftBarWidthWhenShrunked: 59px;
$appLeftBarWidth: 215px;
$headerHeight: 60px;

// new colors
$textColor: #3e4f67;
$textColor2: #768497;
